<%= current_user %>
<!--% if @videos %-->
<div class="container">
	<div class="row">
		<% @videos.each do |video| %>
			<div class="col-md-4 col-xs-12">
				<div class="panel">
					<div class="panel-body">
						<!--iframe id="ytplayer" type="text/html" width="320" height="240" src="http://www.youtube.com/embed/M7lc1UVf-VE?autoplay=0&origin=http://www.google.com" frameborder="0"/-->
						
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>

<!--% else %-->
No videos here fool!
<!--% end %-->