<div class="row">
	<div class="col-md-12 text-center">
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-default" style="margin-top:50%;">
				<div class="panel-heading">welcome to this app</div>
				<div class="panel-body">
					its super cool you should do stuff
				</div>
				<button class="btn btn-primary" href="#">sign up</button>
				<button class="btn btn-primary" href="#">view videos</button>
			</div>
		</div>
	</div>
</div>


