@import "bootstrap-sprockets";
@import "bootstrap";

$gray-mediumlight: #eaeaea;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.nav-wrapper{
  margin-bottom: 40px;
}

.navbar-logo{
  max-width: 100%;
  max-height: 80px;
}


.nav-style{
  background-color: black;
  color: #08A1E5;
  margin-top: auto;
}

.nav-link {
  color: #08A1E5 !important;
  font-size: 25px;
  font-family: sans-serif;

  vertical-align: center;
  float:none;
  display:inline-block;
  font-weight: 650;

  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
}

.nav-signout{
  color:white;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 650;

  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
}

.feed-bg {
  background-color: #424242;
}


#gopro-nav {
  margin-top: 10px;
}

#current-user-nav {
  font-size: 2em;
  font-weight: 500;
  margin-right: 20px;
  color: white;
  margin-top: 11px;
}

.video-prev {
  width: 320px;
  height: 240px;
}

.panel {
  border: 2px solid #ddd;
  border-radius: 0px;
}

.panel-body a{
  color: inherit;
}

.play-glyph {
  font-size: 50px;

  position: absolute;
  top: 50%;
  left: 45%;
  text-shadow: 0px 0px 5px #fff;

  transition: all .2s ease;
}

.play-glyph:hover{
  text-shadow: 0px 0px 5px #000;
}

.fullscreen-iframe {
  width: 100%;
  height: 600px;
  position: static;
  top: 10px;
  left: 0;
}

.signin-wrapper{
  margin: 0 auto;
  background: rgba(30,30,30,0.5);
  color: #ddd;

  width: 300px;
  height: 500px;
  padding: 20px;

  margin-top: 25%;

  position: relative;

  border: 2px solid #000;
}

.signin-wrapper a {
  font-weight: 700;
  color: #aaF;
}

.signin-wrapper img {
  max-width: 300px;
  max-height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
}

#signin-top {
  margin-top: 145px;
}

#signin-top input {
  margin: 10px 0px;
}

#signin-bottom {
  
}

#signup-form {
  
}

#signup-form input {
  margin: 10px 0;
}

.formcontainer input {
  margin: 10px 0;
}
