<nav class="nav nav-style">
  <div class="container">
    <div class="navbar-header text-center">
      <img src="<%= asset_path 'prophile-logo.png' %>" class="navbar-logo">
    </div>
    <ul class="nav navbar-nav navbar-right text-center">
      <li><%= link_to "Feed", videos_path, class: "nav-link" %></li>
      <li><%= link_to "Submit", new_video_path, class: "nav-link" %></li>
      <li><%= link_to "Log out", logout_path, method: :delete, class: "nav-link" %></li>
    </ul>
  </div>
</nav>