<nav class="nav nav-style">
  <div class="container">
    <div class="navbar-header text-center">
      <img src="<%= asset_path 'prophile-logo.png' %>" class="navbar-logo">
    </div>
    <ul class="nav navbar-nav navbar-right text-center">
      <li><a href="#" class="nav-link">Feed</a></li>
      <li><a href="#" class="nav-link">Upload</a></li>
      <li><a href="#" class="nav-signout">Sign out</a></li>
    </ul>
  </div>
</nav>